.search-and-add-bar {
    width: 100%;
    /* display: inline-block; */
}

.search-address-bar {
    width: 80%;
    padding: 1em 1em 1em 2em;
    float: left; 
}

.add-address-button {
    width: 20%;
    padding: 1em 2em 1em 1em;
    float: right; 
    text-align: right;
}

.centered-table-cell {
    width: 10%;
    text-align: center;
}

.address-title-table-cell {
    width: 20%;
}

.address-text-table-cell {
    width: 50%;
}

.address-list-table {
    padding: 0em 2em 0em 2em;
}